<!doctype html>

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>gtm</title>

    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
    <style>
        html                    { overflow-y:scroll; }
        body                    { padding-top:50px; }
        #todo-list              { margin-bottom:30px; }
    </style>
    <link rel="stylesheet" type="text/css" href="https://cdn.rawgit.com/angular-ui/bower-ui-grid/master/ui-grid.min.css">

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular-resource.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular-route.js"></script>
    <script src="https://cdn.rawgit.com/angular-ui/bower-ui-grid/master/ui-grid.min.js"></script>
    <script src="front.js"></script>
</head>
<body>
<div ng-app="gtmModule" ng-controller="gtmController">

    <div>
        <button ng-click="insert()">Add New Task</button>
    </div>

    <br/>
    <br/>

    <div>
        <div>
            <div id="grid1" ui-grid="{ data: myData }" class="grid"></div>
        </div>
        <table st-table="rowCollection" class="table table-striped">
            <thead>
            <tr>
                <th>Finished</th>
                <th>Tasks</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Operations</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="row in rowCollection">
                <td>{{row.firstName}}</td>
                <td>{{row.lastName}}</td>
                <td>{{row.birthDate}}</td>
                <td>{{row.balance}}</td>
                <td>{{row.email}}</td>
            </tr>
            </tbody>
        </table>
    </div>

    <div>
        <div class="container">
            <p id="pResult">The result is [{{result}}]</p>

            <br/>
            <br/>
            <button ng-click="show()">Show</button>
            <br/>
            <br/>
            <button ng-click="clean()">Clean</button>
            <br/>
            <br/>
            <button ng-click="count()">Count</button>
        </div>
    </div>
</div>

</body>
</html>